<ion-view view-title="Grupo FVD" class="fvd">
  <ion-content>

  <div class="container" width=device-width height=device-height>
  	<div class="row">
	  <div class="col  "><h2 class="fvd">Acerca del Grupo FVD</h2> </div>
	</div>
    
	<div class="row">
	  <div class="col"> <center><img src="img\escudo_transparente.png" width="55%" height="55%"></center> </div>
	</div>
	<div class="row">
	  <div class="col"> <center><a class="fvd" href="#" onclick="window.open('http://www.grupofvd.org', '_system', 'location=yes'); return false;">ver página</a>
	  </center>
</div> 
	</div>
	<div class="row">
	  <div class="col"><p class="fvd" width="100%" height="100%">El Grupo FVD nace en el año 2003 como una comunidad de jóvenes llamados a profundizar en el Carisma de San Miguel Garicoïts, 
	Fundador de la Sociedad de Sacerdotes del Sagrado Corazón de Jesús de Betharram.
	<br>
	<br>
		El domingo 14 de Septiembre del año 2003, un grupo de 7 jóvenes laicos (Juan Sebastián Villarejo, Juan Manuel Talavera, 
		Horacio Campos Angulo, Thomas Brown Mateo, Sergio Sánchez Boettner, César Enrique Prous y Alejandro Brown Mateo), motivados por la 
		Sra. Elena Ibáñez de Careaga (Nita) y acompañados espiritualmente por el R.P. Emiliano Jara Medina, SCJ., luego de una jornada completa de 
		convivencia en la casa de la Comunidad de Padres Betharramitas del Colegio San José (Asunción - Paraguay) instituyen oficialmente la fundación del 
		Grupo FVD con 3 objetivos:
	</p ><br>
	<p class="fvd">1. Conocer, Vivenciar y Difundir el Carisma Betharramita.<br>
	<br>
		2. Colaborar con la Pastoral Betharramita.<br>
	<br>
	3. Alentar las vocaciones a la Vida Religiosa o Sacerdotal, en especial para Betharram.</p> </div>
	</div>
	</div>
	
	
  </ion-content>
</ion-view>
