<ion-view view-title="San Miguel Garicoits" >
  <ion-content   class="fvd">
  <div class="container" width=device-width height=device-height>
	<div class="row">  <div class="col"><center><img src="img\logo4.jpg" width="50%" height="50%"> </center></div></div>
	<p class="fvd">Miguel Garicoits (Ibarre - Francia, 15 de abril de 1797 / Betharram - Francia, 14 de mayo de 1863) (Mikel o Mixel Garikoitz en su lengua madre, el Euskera) fue fundador de la Congregación de los “Padres del Sagrado Corazón de Jesús de Betharram” (Padres Bayoneses).

	</p >
	 <a   class="button button-full button-light button-outline icon icon-right {{bot1}}" ng-click="smg1()"><h2 class="fvd1">Sus Comienzos</h2></a>
	 <div ng-bind-html="getHtml(img1)" ></div>
	 <div ng-bind-html="getHtml(texto1)" ></div>

	 <a class="button button-full button-light button-outline icon icon-right {{bot2}}" ng-click="smg2()"><h2 class="fvd1">La Congregación</h2></a>
	 <div ng-bind-html="getHtml(img2)" ></div>
	 <div ng-bind-html="getHtml(texto2)" ></div>

	 <a class="button button-full button-light button-outline icon icon-right {{bot3}} " ng-click="smg3()"><h2 class="fvd1">La llegada a América</h2></a>
	 <div ng-bind-html="getHtml(img3)" ></div>
	 <div ng-bind-html="getHtml(texto3)" ></div>

	</div>
  </ion-content>
</ion-view>
