/* Empty. Add your own CSS if you like */

	
	
  
.fvd {
  background-color: White;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.smg {
  background-color: White   ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.freses {
  background-color: black   ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.desa {
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

p.freses2 {
  color               : white;
  font-family         : helvetica;
  font-size           : 130%;
  -webkit-user-select : text;
  -moz-user-select    : text;
  -ms-user-select     : text;
  user-select         : text;
  display             : block;
  pointer-events      : none;
  
}
p.freses21 {
  color: white  ;
  font-family: DJB;
  font-size: 200%;
  height: 20px;
  line-height: 28px;
  text-align : justify;
  vertical-align: middle;
  align-content: center;

  font-weight: bold;
}
h2.freses2 {
  color: Tomato  ;
  font-family: helvetica;
  font-size: 160%;
  font-weight: bold;
}
button.freses2 {
  vertical-align: middle;
  text-align : justify;
  background-color: white;
  align-content: center;
  display: inline-block;
  text-decoration: none;
}
p.fvd {
  color: black ;
  font-family: helvetica;
  font-size: 110%;
  align-content: center;
  text-align : justify;
  padding-right: 20px;
  padding-left: 20px;
}
a.fvd {
  color: black ;
  font-family: helvetica;
  font-size: 110%;
  align-content: center;
  text-align : justify;
}
h2.fvd {
  color: black  ;
  font-family: helvetica;
  font-size: 160%;
  font-weight: bold;
  text-align : center;
  background-color: transparent;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
h2.fvd1 {
  color: black  ;
  font-family: helvetica;
  font-size: 160%;
  font-weight: bold;
  text-align : center;
  background-color: transparent;
  height: 20px;
  line-height: 40px;
}
p.smg {
  color: black  ;
  font-family: verdana;
  font-size: 100%;
  align-content: center;
  text-align : justify;
}

div.smg1 {
  visibility : hidden  ;
}
h2.smg {
  color: DarkGray ;
  font-family: verdana;
  font-size: 200%;
  font-weight: bold;
  text-align : center;
}
p.desa {
  color: white ;
  font-family: helvetica;
  font-size: 120%;
  align-content: center;
  text-align : justify;
}
h2.menu {
  color: black  ;
  font-family: verdana;
  font-size: 160%;
  font-weight: bold;
  text-align : center;
  background-color: transparent;
}
p.menu {
  color: black  ;
  font-weight: bold;
  vertical-align: middle;
  font-size: 125%;
  background-color: transparent;
}
a.menu {
  color: black  ;
  font-weight: bold;
  vertical-align: middle;
  font-size: 125%;
  background-color: transparent;
}
@font-face {
  font-family: DJB;
  src: url("DJB The Generic.ttf");
}
@font-face {
  font-family: helvetica;
  src: url("HelveticaNeue-Light.otf");
}


.menu-item-text {
   color            : black !important;
   vertical-align   : middle !important;
   font-size        : 100% !important;
   background-color : transparent;
}

.menu-selected {
   background-color: #E3E3E3 !important;
}
